doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;
    title foxythemes
    | &#x9;
    link(rel='stylesheet', href='')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      a.navbar-brand(href='#')
      | &#x9;
      a.logo(href='')
        img(src='images/logo.png', alt='', height='70')
      | &#x9;&#x9;
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      | &#x9;&#x9;
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='https://foxythemes.net/themes/cartuline-html-template') Vitage
          | &#x9;&#x9;&#x9;&#x9;
          li.nav-item
            a.nav-link(href='https://foxythemes.net') Link
    .site-section
    .container
        .row.mb-5
          .col-md-12.text-center
            h2.text-black Notificaciones Principales
        |         
        .row
          .col-md-6.col-lg-4
            .post-entry
              .image
                img.img-fluid(src='images/person_1.jpg', alt='Image')
              |               
              .text.p-4
                h2.h5.text-black
                  a(href='https://twitter.com/mzorraquino') Hola Soy Miguel Zorraquino  @mzorraquino
                  
                |                 
                span.text-uppercase.date.d-block.mb-3
                  small Por By foxythemes; Nov 30, 2018
                |                 
                p.mb-0
                  | Muy muy contentos con la acogida que tuvimos ayer, la convocatoria y el interés sobrepasó con creces nuestras expectativas. Eskerrik asko a todos y a todas por venir. ¡Muchas gracias! Así da gusto hacer estas cosas..
          |           
          .col-md-6.col-lg-4
            .post-entry
              .image
                img.img-fluid(src='images/person_2.jpg', alt='Image')
              |               
              .text.p-4
                h2.h5.text-black
                  a(href='https://twitter.com/ddianasalazar') Diana Salazar  💜 @ddianasalazar

                |                 
                span.text-uppercase.date.d-block.mb-3
                  small Por By foxythemes; Nov 30, 2018
                |                 
                p.mb-0
                  | Este Blog dedicado a Mujeres y Tech me encanta...http://primmehunt.com/blog/  @CaroEscarlata @caroabu @joannaprieto @ddianasalazar @ImpactoTIC @Garrapatudo.
          |           
          .col-md-6.col-lg-4
            .post-entry
              .image
                img.img-fluid(src='images/person_3.png', alt='Image')
              |               
              .text.p-4
                h2.h5.text-black
                  a(href='https://twitter.com/frontendfront?lang=es') Front-End Front @frontendfront

                |                 
                span.text-uppercase.date.d-block.mb-3
                  small Por By foxythemes; Nov 30, 2018
                |                 
                p.mb-0
                  | Ever since the first animated DHTML cursor trails and “Site of the Week” badges graced the web, re-usable code has been a temptation for web developers. And ever since those heady days, integrating third-party UI into your site has been, well, a semi-brittle headache.
                  
footer.site-footer.border-top
    .container
        .row
          .col-lg-4
            .mb-5
              h3.footer-heading.mb-4 Acerca de nosotros
              |               
              p
                | Diseñamos experiencias de acuerdo a las necesidades del cliente, nos encargamos de plasmar tus ideas en conceptos gráficos claras y atractivas
            |             
            .mb-5
              h3.footer-heading.mb-4 Blog
              |               
              .block-25
                ul.list-unstyled
                  li.mb-3
                    a.d-flex(href='#')
                      figure.image.mr-4
                        img.img-fluid(src='images/desarrollo1.jpg', alt='')
                      |                       
                      .text
                        h3.heading.font-weight-light Somos Imagen
                  |                   
                  li.mb-3
                    a.d-flex(href='#')
                      figure.image.mr-4
                        img.img-fluid(src='images/desarrollo2.jpg', alt='')
                      |                       
                      .text
                        h3.heading.font-weight-light Somos diciplina
                  |                   
                  li.mb-3
                    a.d-flex(href='#')
                      figure.image.mr-4
                        img.img-fluid(src='images/desarrollo3.jpg', alt='')
                      |                       
                      .text
                        h3.heading.font-weight-light Estamos ala vanguardia
          |           
          .col-lg-4.mb-5.mb-lg-0
            .row.mb-5
              .col-md-12
                h3.footer-heading.mb-4 Visitanos  para mas Informacion
              |               
              .col-md-6.col-lg-6
                ul.list-unstyled
                  li
                    a(href='https://foxythemes.net/') Home
                  |                   
                  li
                    a(href='https://foxythemes.net/themes/') Themes
                  |                   
                  li
                    a(href='https://desarrollofrontend.com/noticias-frontend/') Noticias
                  |                   
                  li
                    a(href='https://foxythemes.net/support/') Soporte
              |               
              .col-md-6.col-lg-6
                ul.list-unstyled
                  li
                    a(href='#') Nosotros
                  |                   
                  li
                    a(href='#') Politicas de privacidad
                  |                   
                  li
                    a(href='#') Contactenos
                  |                   
                  li
                    a(href='#') Membresia
            |             
            .row
              .col-md-12
                h3.footer-heading.mb-4 Siguemos en Facebook
                |                 
                div
                  a.pl-0.pr-3(href='#')
                    span.icon-facebook
                  |                   
                  a.pl-3.pr-3(href='#')
                    span.icon-twitter
                  |                   
                  a.pl-3.pr-3(href='#')
                    span.icon-instagram
                  |                   
                  a.pl-3.pr-3(href='#')
                    span.icon-linkedin
          |           
          .col-lg-4.mb-5.mb-lg-0
            .mb-5
              h3.footer-heading.mb-4 Somos el equipo que necesitas
              |               
              .block-16
                figure
                  img.img-fluid.rounded(src='images/si.jpg', alt='Image placeholder')
                  |                   
                  a.play-button.popup-youtube(href='https://www.youtube.com/watch?v=Xd7huBu39qk')
                    span.icon-play
            |             
            .mb-5
              h3.footer-heading.mb-2 Suscribete para nuestras noticias
              |               
              p Las Mejores Noticas En FRONT END.
              |               
              form(action='#', method='post')
                .input-group.mb-3
                  input.form-control.border-secondary.text-white.bg-transparent(type='text', placeholder='Ingresa Tu correo ', aria-label='Enter Email', aria-describedby='button-addon2')
                  |                   
                  .input-group-append
                    button#button-addon2.btn.btn-primary(type='button') Enviar
        |         
        .row.pt-5.mt-5.text-center
          .col-md-12
            p
              | Copyright &copy;              
              |  All rights reserved | This template is made with 
              i.icon-heart-o(aria-hidden='true')
              |  by 
              a(href='https://foxythemes.net', target='_blank') Foxythemes.net & Johnatan Gonzalez Velez
             

            






    |