doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;
    title foxythemes
    | &#x9;
    link(href='https://cdn.dribbble.com/assets/dribbble-vector-ball-95ca193529993e9b3904f7adb541680aba196642f557cfaf3cdbb0a48a284be4.svg', rel='mask-icon', color='#ea4c89')
    | &#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    |&#x9; 
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    |&#x9;   
    link(rel='stylesheet', type='text/css', href='dist/estilo.css')

  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      a.navbar-brand(href='#')
      | &#x9;
      a.logo(href='')
        img(src='images/logo.png', alt='', height='70')
      | &#x9;&#x9;
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='https://dribbble.com/shots/3334512-Daily-UI-049-Notifications/attachments/722208') Markup 
          | &#x9;&#x9;&#x9;&#x9;
          li.nav-item
  
          a.nav-link(href='https://foxythemes.net') Link
    |   
    .container(style='background-color:black;')
      .card.mb-3.bg-light.text-black(style='width: 60rem;margin-right: 60rem;')
        p(style='text-align: center;margin-top:70px;margin-bottom: 40px  ')
          img(src='images/campana.jpg', alt='imagen 3', width='30')
        |         
        .card(style='width: 35rem;height: 10em;margin-left: 160px;margin-bottom: 40px')
          .card-body
            p(style='text-align: left; ')
              img(src='images/punto.png', alt='imagen 3', width='15')
            |             
            p
              img.rounded-circle(src='images/person_1.jpg', alt='Cinque Terre', width='90', height='90', style='float: left;margin-right:25px;text-align: center')
            |             
            h5.card-title
            |             
            h6.card-subtitle.mb-2S.text-muted(style='float: 4;') Jane Hayworth
            |             
            p.card-text Replied to your comment in Texbook Exchange
            |             
            p(style='color: lightgray') Now
        |         
        .card(style='width: 35rem;height: 10rem;margin-left: 160px;margin-bottom: 40px')
          .card-body
            p(style='text-align: left; ')
              img(src='images/punto.png', alt='imagen 3', width='15')
            |            
            img.rounded-circle(src='images/person_2.jpg', alt='Cinque Terre', width='90', height='90', style='float: left;margin-right:25px;')
            |            
            h5.card-title
            |            
            h6.card-subtitle.mb-2S.text-muted(style='float: 4;') Angie Clark
            |            
            p.card-text Commented on your post in Euro Girls Trip
            |            
            p(style='color: lightgray') 10 minutos ago
        |        
        .card(style='width: 35rem;height:10rem;margin-left: 160px;margin-bottom: 40px')
          .card-body
            p(style='text-align: left; ')
              img(src='images/punto.png', alt='imagen 3', width='15')
            |           
            p
              img.rounded-circle(src='images/person_3.jpg', alt='Cinque Terre', width='90', height='90', style='float: left;margin-right:25px;text-align: center')
            |           
            h5.card-title
            |           
            h6.card-subtitle.mb-2S.text-muted(style='float: 4;') Johnatan Gonzalez Velez
            |           
            p.card-text And 3 others liked your photo album Summer&apos;16
            |           
            p(style='color: lightgray') 2 hours ago
    footer.site-footer.border-top
    
        .row.pt-5.mt-5.text-center
          .col-md-12
            p
              | Copyright &copy;              
              |  All rights reserved | This template is made with 
              i.icon-heart-o(aria-hidden='true')
              |  by 
              a(href='https://foxythemes.net', target='_blank') Foxythemes.net & Johnatan Gonzalez Velez

        
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
